body {
    overflow-x: hidden;
    font-family: 'Montserrat', serif;
    color: #3d3d50;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #fb1daa;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e21296;
}

::-moz-selection {
    background: #fb1daa;
    color: #fff;
}

::selection {
    background: #fb1daa;
    color: #fff;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #fff;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6551a2;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fb1daa;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.navbar {
    height: 90px;
    font-size: 14px;
}

.bg-transparent {
    background: transparent !important;
}

.bg-white {
    background: #fff !important;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    padding-left: 15%;
}

.navbar-collapse {
    padding-right: 15%;
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-link {
    font-weight: bold !important;
}

.nav-link-std {
    color: #3d3d50 !important;
    font-weight: 600;
}

.nav-link,
.navbar-brand {
    color: #fff !important;
}

.transparent-nav.scrolled {
    background-color: #781df5 !important;
    transition: background-color 1s ease 0s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.transparent-nav.scrolled {
    background-color: #fff;
}

.transparent-nav.scrolled .nav-link {
    color: #fff !important;
}

/* Fixes dropdown menus placed on the right side */

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

.has-bg {
    background: url(../img/mountain.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    height: 1000px;
}

.no-bg {}

.lead-text {
    /*left: 5%;*/
    text-align: center;
    position: relative;
    top: 20%;
    color: #fff;
}

.lead-text h1 {
    font-family: 'Vidaloka', serif;
    font-size: 4.3em;
}

.lead-text-bg {
    background: #781df5;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
}

.lead-red {
    background: #fb1daa;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
}

.pre-lead-bg {
    background: #781df5;
    padding: 5px;
}

.lead-text p {
    font-size: 1.2em;
    font-family: 'Montserrat', serif;
    padding-top: 20px;
    padding-bottom: 30px;
    line-height: 38px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-padding-lr {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-refont {
    font-size: 0.9em;
}

.feature-container {
    position: relative;
    top: 40%;
}

.ti-icon {
    font-size: 3.8em;
    color: #fff;
}

.feature-title {
    color: #fff;
    font-weight: normal;
    font-size: 1.3em;
}

.feature-short {
    color: #fff;
    font-size: 13px;
}

.buttom-arrow {
    position: relative;
    text-align: center;
    top: 46%;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow-link,
.arrow-link:hover,
.arrow-link:focus {
    color: #fff;
    font-size: 3em;
    text-decoration: none;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

#about-us {
    /*
    margin-top: 120px;
    padding-bottom: 50px;
*/
    margin-top: 120px;
    padding-bottom: 50px;
    padding-top: 70px;
}

.setion-title {
    font-weight: 800 !important;
}

.section-title-alias {
    width: 75%;
    margin: 0 auto;
}

.section-desc {
    padding-top: 28px;
    line-height: 31px;
}

.title-head {
    text-align: center;
    margin: 0 auto;
}

.btn-blue {
    background: #781df5;
    color: #fff;
    box-shadow: 0px 4px 16px rgba(120, 29, 245, 0.4);
}

.btn-blue:hover {
    background: #6911e3;
    color: #fff;
}

.btn-red {
    background: #fb1daa;
    color: #fff;
    box-shadow: 0px 4px 16px rgba(251, 29, 170, 0.4);
}

.btn-red:hover {
    background: #e21296;
    color: #fff;
}

.service-container {
    margin-top: 120px;
    background: #f8f8f8;
    padding: 100px;
}

.title-head {
    padding-bottom: 70px;
}

.box {
    padding: 0 5px 0 5px;
}

.red-text {
    color: #fb1daa;
}

.service-item {
    text-align: center;
}

.service-icon {
    font-size: 4em;
    padding-bottom: 15px;
}

.service-item-desc {
    font-size: 14px;
    line-height: 30px;
    padding-top: 15px;
}

.service-item-title {
    font-weight: 800;
}

.service-item-link,
.service-item-link:hover,
.service-item-link:focus {
    color: #fb1daa;
    text-decoration: none;
    font-size: 13px;
}

.testimonial-container {
    margin-bottom: 50px;
    padding: 100px;
    background: linear-gradient(to bottom right, #7316f1, #ff2ad9);
}

.section-title-white {
    color: #fff;
    font-weight: 800;
}

.white {
    color: #fff;
}

.testimonial-item {
    background: rgba(255, 255, 255, 0.4);
    height: auto;
    padding: 30px;
    border-radius: 10px;
    margin-right: 20px;
}

.testimonial-desc {
    line-height: 31px;
    color: #fff;
    text-align: center;
    padding-bottom: 35px;
    border-bottom: 1px solid #fff;
}

.testimonial-user {
    padding-top: 25px;
}

.img-testimonial {
    border: 2px solid #fff;
    border-radius: 100%;
    width: 90px;
    height: 90px;
}

.img-prop {
    position: relative;
    top: -20px;
}

.testimonial-user-title {
    font-weight: 800;
    color: #fff;
}

.testimonial-user-job {
    color: #ede6f6;
    font-size: 14px;
    font-weight: 600;
}

.blog-container {
    margin-top: 120px;
    margin-bottom: 50px;
    padding: 100px;
}

.img-blog {
    border-radius: 10px;
}

.blog-item-title {
    font-size: 20px;
    padding-top: 30px;
    font-weight: 600;
}

.blog-item-title a {
    text-align: none;
    color: #3d3d50;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.blog-item-title a:hover {
    color: #fb1daa;
    text-decoration: none;
}

.blog-item-short {
    font-size: 14px;
    padding-top: 15px;
    line-height: 28px;
    width: 82%;
    color: #919191;
}

.blog-link {
    line-height: 0.5;
    text-align: center;
    margin-left: 65%;
    color: #fb1daa;
    font-weight: 600;
    transition: all 0.5s ease;
}

.blog-link:hover,
.blog-link:focus {
    color: #e21296;
}

.blog-link span {
    display: inline-block;
    position: relative;
}

.blog-link span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid #ddd;
    top: 0;
    width: 212px;
}

.blog-link span:before {
    right: 100%;
    margin-right: 15px;
}

.contact-us-container {
    margin-top: 120px;
    padding: 130px;
    background: url(../img/contact.jpg) no-repeat center;
    background-size: cover;
}

.contact-short {
    font-size: 13.5px;
    padding-top: 15px;
    line-height: 28px;
    color: #3d3d50;
    width: 90%;
}

.card {
    border: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 60px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.form-group {
    margin-bottom: 50px;
}

.form-group label {
    font-size: 1.2em;
    font-weight: 600;
}

.form-control {
    height: 60px;
    border: none;
    background: #f5f5f5;
    padding-left: 25px;
    padding-right: 25px;
    color: #3d3d50;
}

.form-control::placeholder {
    font-size: 15px;
    color: #a6a6a6;
    font-weight: 600;
}

.form-control:focus {
    border: 2px solid #3d3d50;
}

.form-group textarea {
    padding-top: 20px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fb1daa;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    line-height: 130px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #eee;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact-item {
    text-align: center;
    margin-top: 40px;
    margin-left: -40px;
}

.contact-info-icon {
    text-align: center;
    font-size: 2em;
    color: #fb1daa;
    background: #fff;
    width: 60px;
    height: 60px;
    padding-top: 8px;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.contact-info-icon:hover {
    background: #fb1daa;
    color: #fff;
}

.contact-info-body {
    font-size: 14px;
    padding-top: 20px;
}

.contact-items {
    margin-bottom: 35px;
}

footer {
    height: 300px;
}

.main-footer {
    padding-bottom: 30px;
}

.img-footer {
    position: relative;
    left: 20%;
    top: 100px;
}

.footer-title {
    color: #fb1daa;
    font-weight: 600;
    padding-top: 10%;
    padding-bottom: 20px;
    font-size: 15px;
}

.contact-list {
    margin-left: -40px;
    list-style: none;
    font-size: 14px;
    line-height: 36px;
}

.contact-list li > span {
    color: #a6a6a6;
}

.social-media {
    list-style: none;
    margin-left: -40px;
}

.social-media li a {
    float: left;
    height: 50px;
    width: 50px;
    padding-top: 14px;
    text-align: center;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
    color: #3d3d50;
    text-decoration: none;
}

.social-media li a:hover {
    background: #fb1daa;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 16px rgba(251, 29, 170, 0.4);
}

.btn-subs {
    padding-left: 40px;
    padding-right: 40px;
}

.red-border-focus:focus {
    border: 2px solid #fb1daa;
}

.red-border-focus::placeholder {
    color: #a6a6a6;
    font-size: 13px;
}

.footer-copyright {
    height: 70px;
    padding-top: 25px;
    border-top: 1px solid #ededed;
}

.copyright {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #bbb;
}

/* ============= SERVICE SECTION ============= */

.service-header {
    margin-top: 90px;
    height: 400px;
    background: url(../img/page-header-overlay.jpg) center center no-repeat;
    background-size: cover;
}

.service-header .container {
    padding-top: 50px;
    text-align: center;
}

.service-header-icon {
    font-size: 3em;
    color: #fff;
}

.service-header-tagline {
    color: #fff;
    padding-top: 30px;
}

.service-header-short {
    color: #fff;
    font-size: 13px;
    padding-top: 17px;
    line-height: 25px;
}

.service-main {
    margin-top: 120px;
    margin-bottom: 50px;
    /*padding: 100px;*/
}

.service-icon-header h5 i {
    color: #fb1daa;
    font-weight: 600;
    font-size: 1.6em;
}

.service-icon-header h5 span {
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
    position: relative;
    top: -10px;
}

.service-icon-short {
    width: 80%;
    position: relative;
    left: 26%;
}

.service-icon-short p {
    font-size: 13px;
}

.service-secondary {
    margin-top: 120px;
    margin-bottom: 50px;
    background: url(../img/service-bg-secondary.jpg) center center no-repeat;
    background-size: cover;
    height: 791px;
    padding-top: 50px;
}

.service-sec-header {
    color: #fff;
    font-weight: 600;
    font-size: 3em;
    line-height: 85px;
}

.service-sec-short {
    color: #fff;
    padding-top: 50px;
    line-height: 32px;
}

.service-list-alt {
    color: #fff;
    padding-top: 30px;
}

.service-list-alt-item {
    padding-bottom: 5px;
}

.service-list-alt-item span {
    padding-right: 15px;
    font-size: 1.5em;
}

.service-third-sec {
    margin-top: 120px;
    margin-bottom: 50px;
}

.service-third-item {
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.service-third-item h1 i,
.service-third-item a {
    transition: all 0.5s ease;
}

.service-third-item:hover {
    background: #fb1daa;
    color: #fff;
    box-shadow: 0px 4px 16px rgba(251, 29, 170, 0.4);
}

.service-third-item:hover h1 > i,
.service-third-item:hover a {
    color: #fff;
}

.service-third-item h1 i {
    font-size: 2.7em;
    color: #fb1daa;
}

.service-third-item h4 {
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
}

.service-third-item a {
    font-size: 13px;
    color: #a6a6a6;
}

/* RWD BREAKPOINTS */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

/*
278bfb

blue, yellow, black, white

*/